{% extends 'base.html.twig' %}

{% block body %}
{# 👆 this now only renders inside of the body, everything else is extended from the base #}
<div>
    {# How data is conditionally rendered should be done inside the template #}
    {% if messages|length > 0 %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    {% else %}
        No messages...
    {% endif %}
</div>
{% endblock %}